#div_1{
background-color: blueviolet;
}
#div_2{
    background-color:green;
    }
    #span_1{
        background-color: rgb(145, 255, 1);
        }
        
    #span_2{
        background-color: rgb(255, 1, 1);
        }